<h1>Foundit - Database</h1>
<br />
<%= link_to "Users Table", users_path %>
<br />
<%= link_to "Postings Table", postings_path %>
<br /><br />
<p>This file located in app/views/home/index.html.erb</p>
